resources/*
venv/*
*.ipynb_checkpoints
*.log
*__pycache__
.vscode/*
src/test_dash/*
.python-version
*.pem

src/data_collection/data/*
!src/data_collection/data/.gitkeep

src/model_training/data/train/*
!src/model_training/data/train/.gitkeep

src/model_training/data/test/*
!src/model_training/data/test/.gitkeep

src/model_training/data/raw/*
!src/model_training/data/raw/.gitkeep

src/model_training/logs/*
!src/model_training/logs/.gitkeep

src/model_training/models/*
!src/model_training/models/.gitkeep
